*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f2f2f2 ;
	margin: 0 auto;
	max-width: 1920px;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	/*	font-family: Helvetica, tahoma, sans-serif;*/
	color:#415871;
	text-align: center;
}

#banniere{
	background-position: center center;
	display:block;
	background-image:url(ban.jpg);
	width: 100%;
	/*	position: fixed;*/
	color: white;	
	height: 100px;
/*	border-right: 20px solid #f2f2f2;
border-left: 20px solid #f2f2f2;	*/
}

#logo{
	font-variant: small-caps;
	float:center;
	padding-top: 15px;
	font-size: 2.5em;
}

#banniere a{
	text-transform: lowercase;
	font-variant:  small-caps ;
	font-size: 1.2em;
	color : #F0F0F0;
	text-decoration: none;
}

#banniere a:hover{
	color : #F9F9F9;
}

#billet_homepage{
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;

	border: 2px solid #415871;
	background-color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	margin-top : 20px;
	margin-bottom: 20px;
	padding: 20px;	
	max-width: 500px;
	/*display:inline-block;*/
}

#billet_homepage a{
color :#415871;
font-variant: small-caps;
font-size: 1.3em;
}

#date_billet_homepage{
font-size: 0.5em;
}

footer{
	height: 15px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-image:url(ban.jpg);
	color: white;	
	text-align: center;
	font-variant: small-caps;
	font-size: 0.8em;
/*	border-left: 20px solid #f2f2f2;
border-right: 20px solid #f2f2f2;*/
}

.left_panel {
	float: left;
	width: 80%;
}
.right_panel {
	float: left;
	width: 20%;
}